<div id="content">
  <div class="header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
      <div class="container text-light">
          <div class="w-100 d-flex justify-content-between">
              <div>
                  <i class="fa fa-envelope mx-2"></i>
                  <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                  <i class="fa fa-phone mx-2"></i>
                  <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
              </div>
              <div>
                  <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                  <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                  <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                  <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
              </div>
          </div>
      </div>
  </nav>

  
    <h1>Quickstart Template</h1>
    <div class="logo">
      <img src="https://user-images.githubusercontent.com/43764894/223549637-2715c89d-a44e-42e0-8f6c-fa6246279658.png">
    </div>
    <h2>
      This is a bare-bones Angular project that has everything you need to quickly deploy it to Netlify
    </h2>
    <div class="bttns">
      <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/angular-quickstart" class="bttn primary">Deploy to Netlify</a>
      <a href="https://github.com/netlify-templates/angular-quickstart" class="bttn secondary">View Repo</a>
    </div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="https://www.netlify.com/tags/angular/">Netlify Blog: Angular posts</a>
      <li>
        <a href="https://docs.netlify.com/">Netlify Docs</a>
      </li>
      <li>
        <a href="https://angular.io/">Angular Docs</a>
      </li>
    </ul>
  </div>
</div>
